<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invoice Uploder</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/css/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Scripts/css/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Scripts/css/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/Scripts/css/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script src="~/Scripts/css/global_assets/js/demo_pages/charts/echarts/columns_waterfalls _clerk.js"></script>
    <script src="~/Scripts/css/assets/js/app.js"></script>
    <script src="~/Scripts/css/global_assets/js/demo_pages/dashboard.js"></script>
    <!-- /theme JS files -->



</head>


<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
        <div class="navbar-brand">
            <a href="#" class="d-inline-block">
                <img src="~/Scripts/css/global_assets/images/hybrid-workforces-logo.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>



            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a href="/Home/Index" class="navbar-nav-link">
                        <i class="icon-switch2"></i>
                        <span class="d-md-none ml-2">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                <span class="font-weight-semibold">Navigation</span>
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user-material">
                    <div class="sidebar-user-material-body">
                        <div class="card-body text-center">
                            <a href="#">
                                <img src="~/Scripts/css/global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                            </a>
                            <h4 class="mb-0 text-white text-shadow-dark"></h4>
                            <h5 class="mb-0 text-white text-shadow-dark">Process Owner</h5>
                            <span class="font-size-sm text-white text-shadow-dark">Vadodara</span>
                        </div>

                        <div class="sidebar-user-material-footer">
                            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
                        </div>
                    </div>

                    <div class="collapse" id="user-nav">
                        <ul class="nav nav-sidebar">

                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link">
                                    <i class="icon-switch2"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="/Home/Clerk" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"></div> <i class="icon-menu" title="Forms"></i></li>
                        <!--queue-->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"></div> <i class="icon-menu" title="Forms"></i></li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-graph"></i> <span>Manage Queue</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Form components">
                                <li class="nav-item"><a href="/Queuemanagement/queuemanagement" class="nav-link">Queue</a></li>

                            </ul>
                        </li>
                        <!--mange documnet engine-->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-upload"></i> <span>Manage Document Engine</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="File uploaders">
                                <li class="nav-item"><a href="/Queuemanagement/Upload" class="nav-link">Upload</a></li>
                                <li class="nav-item"><a href="/Queuemanagement/Download" class="nav-link">Download</a></li>
                            </ul>
                        </li>
                        <!--chat book-->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-bubbles4"></i> <span>Chat Book</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Text editors">

                                <li class="nav-item"><a href="chat.html" class="nav-link">Chat</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Invoice Uploder</span></h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>

                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            <span class="breadcrumb-item active">Uploder</span>
                        </div>

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">

                <!-- Wizard with validation -->
                <div class="card">
                    <div class="card-header bg-white header-elements-inline">
                        <h6 class="card-title">Documents</h6>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("doc_files", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <label class="col-form-label col-lg-3">File Upload</label>
                            <div class="col-lg-9">

                                <input type="file" name="file" multiple="multiple" />
                                <hr />
                                <input type="submit" value="upload invoice" />
                            </div>
                        }
                    </div>


                </div>
                <!-- /wizard with validation -->

            </div>



        </div>
        <!-- /content area -->



    </div>
    <!-- /main content -->
    <!-- /page content -->

</body>
</html>
